.toast-success {
    background-color: rgba(60, 141, 188, 1) !important;
  }
  .Toastify__toast--info {
    border-radius: 4px;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.15);
  }
  .demo-wrapper {
    width: 100%;
    padding: 5px;
  }
  .demo-editor {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 300px;
  }
  